The goal is to drop out failed readed tables.

# Imports and data

In [22]:
%run Imports.ipynb

In [23]:
Berlin_dict = tables_dict['Berlin']
Berlin_meta = meta_dict['Berlin']

# Overview

In [24]:
zoo = Berlin_dict['ZooAquarium']
tg = Berlin_dict['Tiergarten']

In [25]:
print(zoo.keys())

dict_keys([2017, 2018, 2019, 2020, 2021])

In [48]:
len(tg[2017])

42

In [49]:
len(zoo[2017])

42

In [50]:
for year in [2017, 2018, 2019, 2020, 2021]:
    print(f"{year}: {len(tg[year])} entries in Tiergarten")
    print(f"{year}: {len(zoo[year])} entries in ZooAquarium")

2017: 42 entries in Tiergarten
2017: 42 entries in ZooAquarium
2018: 32 entries in Tiergarten
2018: 32 entries in ZooAquarium
2019: 32 entries in Tiergarten
2019: 32 entries in ZooAquarium
2020: 27 entries in Tiergarten
2020: 27 entries in ZooAquarium
2021: 25 entries in Tiergarten
2021: 25 entries in ZooAquarium

# Zoo

In [5]:
zoo.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [6]:
def clean_zoo(zoo: dict, year: int, del_list: list) -> dict:
    z_clean = {}
    for i in range(len(zoo[year])):
        if i not in del_list:
            z_clean[i] = zoo[year][i]

    updated = {}
    for i in range(len(z_clean)):
        index = list(z_clean.keys())[i]
        updated[i] = z_clean[index]
    zoo[year] = updated
    return zoo

## 2017

In [7]:
dl_17 = [0, 1, 6]

In [8]:
zoo = clean_zoo(zoo, 2017, dl_17)

## 2018

In [9]:
len(zoo[2018])

47

In [10]:
zoo[2018][46]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,KNOCHENFISCHE,OSTEICHTHYES\nArtenzahl\n2017\ngeboren\nZugäng...,,,,,,,,,...,,,,,,,,,,
1,,,,m,w,u,m,w,u,m,...,u,m,w,u,m,w,u,m,w,u
2,Flösselhechtartige,Polypteriformes,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,Störartige,Acipenseriformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Knochenhechtartige,Lepisosteiformes,3,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
5,Tarpunartige,Elopiformes,1,0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
6,Aalartige,Anguilliformes,6,0,0,52,0,0,0,0,...,9,0,0,50,0,0,0,0,0,11
7,Knochenzünglerartige,Osteoglossiformes,4,0,0,38,0,0,0,0,...,0,0,0,14,0,0,0,0,0,24
8,Hechtartige,Esociformes,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,Schildfischartige,Gobiesociformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Salmlerartige,Characiformes,40,0,0,1025,0,0,0,0,...,340,0,0,407,0,0,0,0,0,958
11,Karpfenfischartige,Cypriniformes,27,0,0,709,0,0,0,0,...,422,0,0,531,0,0,77,0,0,523
12,Neuwelt-Messerfische,Gymnotiformes,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,Welse,Siluriformes,71,0,0,646,0,0,20,0,...,8,0,0,222,0,0,10,0,0,442
14,Froschfische,Batrachoidiformes,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

## 2019

In [11]:
len(zoo[2019])

41

In [12]:
z19_del = [0, 5]

In [13]:
zoo = clean_zoo(zoo, 2019, z19_del)

## 2020

In [14]:
zoo[2020].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [15]:
del20 = [0, 5]

In [16]:
zoo = clean_zoo(zoo, 2020, del20)

## 2021

In [17]:
zoo[2021].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38])

In [18]:
del21 = [4]

In [19]:
zoo = clean_zoo(zoo, 2021, del21)

In [27]:
zoo[2021][0]

,0,1,2,3
0,Tagestickets Zoo,Eintrittskarten 2021,Eintrittskarten 2020,+/- Vorjahr in %
1,Erwachsene,523.993,503.883,4 %
2,Ermäßigte,70.031,58.453,20 %
3,Kinder,186.630,157.271,19 %
4,Familien,0,12.794,-100 %
5,Andere Eintrittsgelder,168,3.220,-95 %
6,Summe Tagestickets Zoo,780.822,735.621,6 %

In [ ]:
# tables_dict['Berlin']['ZooAquarium'] = zoo
# save_dict_pkl(tables_dict, tables_path)

# Tiergarten

In [26]:
def clean_tg(tg: dict, year: int, del_list: list) -> dict:
    z_clean = {}
    for i in range(len(tg[year])):
        if i not in del_list:
            z_clean[i] = tg[year][i]

    updated = {}
    for i in range(len(z_clean)):
        index = list(z_clean.keys())[i]
        updated[i] = z_clean[index]
    zoo[year] = updated
    return zoo

In [27]:
tg.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [17]:
del17 = [3, 4, 5, 6]
del18 = [0, 1, 2, 3, 6, 7, 29, 30, 36, 37, 38, 39, 41, 44, 46, 48, 49, 51]
del19 = [0, 1, 2, 5, 6, 29, 33, 41]
del20 = [0, 1, 2, 5, 6, 9, 39]
del21 = [0, 1, 2, 5, 6, 9, 29, 30, 31, 32, 33, 34, 36, 40, 42, 45, 50, 52, 54, 55]

In [29]:
tg[2017].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [31]:
tg = clean_tg(tg, 2017, del17)
tg = clean_tg(tg, 2018, del18)
tg = clean_tg(tg, 2019, del19)
tg = clean_tg(tg, 2020, del20)
tg = clean_tg(tg, 2021, del21)

In [33]:
tg[2017][4]

                        0             1             2
0       Summe Sachanlagen  5.599.218,79  3.337.378,29
1     III.\nFinanzanlagen
2  Genossenschaftsanteile        600,00          0,00

In [35]:
len(tg[2021])

25

In [43]:
tg[2021][0]

,0,1,2,3
0,Jahreskarten Zoo-Aquarium,Eintrittskarten 2021,Eintrittskarten 2020\n+/- Vorjahr in %,
1,Erwachsene,3.470,3.477\n0 %,
2,Ermäßigte,715,834,-14 %
3,Kinder,256,202,27 %
4,Familien,7\n.841,7\n.472,5 %
5,1-2-3-Card,9.491,8.189,16 %
6,Summe Jahreskarten Zoo-Aquarium,21.773,20.174,8 %
7,SUMME JAHRESKARTEN TOTAL,67.189,63.700,5 %
8,Sonstige Tickets Zoo*,67.924,43.653,56 %
9,Sonstige Tickets Zoo-Aquarium*,13.383,23.689,-44 %
10,Summe Tickets Zoo,894.162,822.800,9 %
11,Summe Tickets Zoo-Aquarium,270.209,304.882,-11 %
12,EINTRITTSKARTEN GESAMT,1.164.371,1.127.682,3 %
13,Ermittelte Besucher**,2.344.236,2.267.398,3 %