The goal is to drop out failed readed tables.

# Imports and data

In [1]:
%run Imports.ipynb

In [2]:
Berlin_dict = tables_dict['Berlin']
Berlin_meta = meta_dict['Berlin']

# Overview

In [3]:
zoo = Berlin_dict['ZooAquarium']
tg = Berlin_dict['Tiergarten']

In [4]:
print(zoo.keys())

dict_keys([2017, 2018, 2019, 2020, 2021])

# Zoo

In [5]:
zoo.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [6]:
def clean_zoo(zoo: dict, year: int, del_list: list) -> dict:
    z_clean = {}
    for i in range(len(zoo[year])):
        if i not in del_list:
            z_clean[i] = zoo[year][i]

    updated = {}
    for i in range(len(z_clean)):
        index = list(z_clean.keys())[i]
        updated[i] = z_clean[index]
    zoo[year] = updated
    return zoo

## 2017

In [7]:
dl_17 = [0, 1, 6]

In [8]:
zoo = clean_zoo(zoo, 2017, dl_17)

## 2018

In [9]:
len(zoo[2018])

47

In [10]:
zoo[2018][46]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,KNOCHENFISCHE,OSTEICHTHYES\nArtenzahl\n2017\ngeboren\nZugäng...,,,,,,,,,...,,,,,,,,,,
1,,,,m,w,u,m,w,u,m,...,u,m,w,u,m,w,u,m,w,u
2,Flösselhechtartige,Polypteriformes,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,Störartige,Acipenseriformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Knochenhechtartige,Lepisosteiformes,3,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
5,Tarpunartige,Elopiformes,1,0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
6,Aalartige,Anguilliformes,6,0,0,52,0,0,0,0,...,9,0,0,50,0,0,0,0,0,11
7,Knochenzünglerartige,Osteoglossiformes,4,0,0,38,0,0,0,0,...,0,0,0,14,0,0,0,0,0,24
8,Hechtartige,Esociformes,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,Schildfischartige,Gobiesociformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Salmlerartige,Characiformes,40,0,0,1025,0,0,0,0,...,340,0,0,407,0,0,0,0,0,958
11,Karpfenfischartige,Cypriniformes,27,0,0,709,0,0,0,0,...,422,0,0,531,0,0,77,0,0,523
12,Neuwelt-Messerfische,Gymnotiformes,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,Welse,Siluriformes,71,0,0,646,0,0,20,0,...,8,0,0,222,0,0,10,0,0,442
14,Froschfische,Batrachoidiformes,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

## 2019

In [11]:
len(zoo[2019])

41

In [12]:
z19_del = [0, 5]

In [13]:
zoo = clean_zoo(zoo, 2019, z19_del)

## 2020

In [14]:
zoo[2020].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34])

In [15]:
del20 = [0, 5]

In [16]:
zoo = clean_zoo(zoo, 2020, del20)

## 2021

In [17]:
zoo[2021].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38])

In [18]:
del21 = [4]

In [19]:
zoo = clean_zoo(zoo, 2021, del21)

In [27]:
zoo[2021][0]

,0,1,2,3
0,Tagestickets Zoo,Eintrittskarten 2021,Eintrittskarten 2020,+/- Vorjahr in %
1,Erwachsene,523.993,503.883,4 %
2,Ermäßigte,70.031,58.453,20 %
3,Kinder,186.630,157.271,19 %
4,Familien,0,12.794,-100 %
5,Andere Eintrittsgelder,168,3.220,-95 %
6,Summe Tagestickets Zoo,780.822,735.621,6 %

In [ ]:
# tables_dict['Berlin']['ZooAquarium'] = zoo
# save_dict_pkl(tables_dict, tables_path)

# Tiergarten

In [21]:
tg.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [22]:
del17 = [3, 4, 5, 6]
del18 = [0, 1, 2, 3, 6, 7, 29, 30, 36, 37, 38, 39, 41, 44, 46, 48, 49, 51]
del19 = [0, 1, 2, 5, 6, 29, 33, 41]
del20 = [0, 1, 2, 5, 6, 9, 39]
del21 = [0, 1, 2, 5, 6, 9, 29, 30, 31, 32, 33, 34, 36, 40, 42, 45, 50, 52, 54, 55]

In [23]:
len(tg[2021])

62

In [24]:
tg[2021][61]

                  0                                1    2
0  Tierbestand 2021  Anzahl Individuen\nArten/Formen
1        Säugetiere                       1.014\n160
2             Vögel                       1.158\n209
3       Kriechtiere                              222   52
4            Lurche                              123   13
5            Fische                            2.347   68
6        Wirbellose                            1.708  143
7     Gesamtbestand                            6.572  645

In [25]:
tg = clean_zoo(tg, 2017, del17)
tg = clean_zoo(tg, 2018, del18)
tg = clean_zoo(tg, 2019, del19)
tg = clean_zoo(tg, 2020, del20)
tg = clean_zoo(tg, 2021, del21)

In [26]:
tg[2020][0]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,KNOCHENFISCHE,OSTEICHTHYES\nArtenzahl\n2019\ngeboren\nZugäng...,,,,,,,,,...,,,,,,,,,,
1,,m,,,w,u\nm,,w,u\nm,,...,u\nm,,w,u\nm,,w,u\nm,,w,u
2,Flösselhechtartige,Polypteriformes,1,0,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,Störartige,Acipenseriformes,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,Knochenhechtartige,Lepisosteiformes,3,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
5,Tarpunartige,Elopiformes,1,0,0,9,0,0,0,0,...,13,0,0,3,0,0,0,0,0,19
6,Aalartige,Anguilliformes,8,0,0,24,0,0,0,0,...,7,0,0,5,0,0,0,0,0,26
7,Knochenzünglerartige,Osteoglossiformes,3,0,0,23,0,0,0,0,...,0,0,0,2,0,0,0,0,0,21
8,Hechtartige,Esociformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Schildfi schartige,Gobiesociformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Salmlerartige,Characiformes,39,0,0,1163,0,0,0,0,...,182,0,0,347,0,0,0,0,0,998
11,Karpfenfi schartige,Cypriniformes,19,0,0,630,0,0,0,0,...,276,0,0,121,0,0,0,0,0,785
12,Neuwelt-Messerfi sche,Gymnotiformes,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,Welse,Siluriformes,61,0,0,437,0,0,120,0,...,16,0,0,71,0,0,30,0,0,472
14,Froschfi sche,Batrachoidiformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0