The goal is to drop out failed readed tables.

# Imports and data

In [1]:
%run Imports.ipynb

In [2]:
Berlin_dict = tables_dict['Berlin']
Berlin_meta = meta_dict['Berlin']

# Overview

## Generel

In [3]:
zoo = Berlin_dict['ZooAquarium']
tg = Berlin_dict['Tiergarten']

In [4]:
print(zoo.keys())

dict_keys([2017, 2018, 2019, 2020, 2021])

In [5]:
len(tg[2017])

46

In [6]:
len(zoo[2017])

49

In [7]:
for year in [2017, 2018, 2019, 2020, 2021]:
    print(f"{year}: {len(tg[year])} entries in Tiergarten")
    print(f"{year}: {len(zoo[year])} entries in ZooAquarium")

2017: 46 entries in Tiergarten
2017: 49 entries in ZooAquarium
2018: 60 entries in Tiergarten
2018: 47 entries in ZooAquarium
2019: 50 entries in Tiergarten
2019: 43 entries in ZooAquarium
2020: 47 entries in Tiergarten
2020: 37 entries in ZooAquarium
2021: 62 entries in Tiergarten
2021: 40 entries in ZooAquarium

# Zoo

In [65]:
zoo.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [66]:
def clean_zoo(zoo: dict, year: int, del_list: list) -> dict:
    z_clean = {}
    for i in range(len(zoo[year])):
        if i not in del_list:
            z_clean[i] = zoo[year][i]

    updated = {}
    for i in range(len(z_clean)):
        index = list(z_clean.keys())[i]
        updated[i] = z_clean[index]
    zoo[year] = updated
    return zoo

## 2017

In [67]:
dl_17 = [0, 1, 6]

In [68]:
zoo = clean_zoo(zoo, 2017, dl_17)

## 2018

In [69]:
len(zoo[2018])

47

In [70]:
zoo[2018][46]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,KNOCHENFISCHE,OSTEICHTHYES\nArtenzahl\n2017\ngeboren\nZugäng...,,,,,,,,,...,,,,,,,,,,
1,,,,m,w,u,m,w,u,m,...,u,m,w,u,m,w,u,m,w,u
2,Flösselhechtartige,Polypteriformes,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,Störartige,Acipenseriformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Knochenhechtartige,Lepisosteiformes,3,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
5,Tarpunartige,Elopiformes,1,0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
6,Aalartige,Anguilliformes,6,0,0,52,0,0,0,0,...,9,0,0,50,0,0,0,0,0,11
7,Knochenzünglerartige,Osteoglossiformes,4,0,0,38,0,0,0,0,...,0,0,0,14,0,0,0,0,0,24
8,Hechtartige,Esociformes,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,Schildfischartige,Gobiesociformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Salmlerartige,Characiformes,40,0,0,1025,0,0,0,0,...,340,0,0,407,0,0,0,0,0,958
11,Karpfenfischartige,Cypriniformes,27,0,0,709,0,0,0,0,...,422,0,0,531,0,0,77,0,0,523
12,Neuwelt-Messerfische,Gymnotiformes,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,Welse,Siluriformes,71,0,0,646,0,0,20,0,...,8,0,0,222,0,0,10,0,0,442
14,Froschfische,Batrachoidiformes,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

## 2019

In [71]:
len(zoo[2019])

43

In [72]:
z19_del = [0, 5]

In [73]:
zoo = clean_zoo(zoo, 2019, z19_del)

## 2020

In [74]:
zoo[2020].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36])

In [75]:
del20 = [0, 5]

In [76]:
zoo = clean_zoo(zoo, 2020, del20)

## 2021

In [77]:
zoo[2021].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39])

In [78]:
del21 = [4]

In [79]:
zoo = clean_zoo(zoo, 2021, del21)

In [80]:
zoo[2021][0]

,0,1,2,3
0,Tagestickets Zoo,Eintrittskarten 2021,Eintrittskarten 2020,+/- Vorjahr in %
1,Erwachsene,523.993,503.883,4 %
2,Ermäßigte,70.031,58.453,20 %
3,Kinder,186.630,157.271,19 %
4,Familien,0,12.794,-100 %
5,Andere Eintrittsgelder,168,3.220,-95 %
6,Summe Tagestickets Zoo,780.822,735.621,6 %

In [81]:
# tables_dict['Berlin']['ZooAquarium'] = zoo
# save_dict_pkl(tables_dict, tables_path)

# Tiergarten

In [82]:
def clean_tg(tg: dict, year: int, del_list: list) -> dict:
    z_clean = {}
    for i in range(len(tg[year])):
        if i not in del_list:
            z_clean[i] = tg[year][i]

    updated = {}
    for i in range(len(z_clean)):
        index = list(z_clean.keys())[i]
        updated[i] = z_clean[index]
    zoo[year] = updated
    return zoo

In [83]:
tg.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [15]:
tg[2017][5]

,0,1
0,Im November 2017 \nüberzeugten sich die \nzool...,erfolgte in Zusammenarbeit mit dem Tamaraw \nC...
1,,
2,,