# Imports and data

In [1]:
%run Imports.ipynb

In [2]:
Berlin_dict = tables_dict['Berlin']
Berlin_meta = meta_dict['Berlin']

# Overview

In [3]:
zoo = Berlin_dict['ZooAquarium']
tg = Berlin_dict['Tiergarten']

# Zoo

In [11]:
zoo.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

## 2017

In [4]:
dl_17 = [0, 1, 6]

In [5]:
z17 = {}
for i in range(len(zoo[2017])):
    if i not in dl_17:
        z17[i] = zoo[2017][i]

In [6]:
z17_updated = {}
for i in range(len(z17)):
    index = list(z17.keys())[i]
    z17_updated[i] = z17[index]

In [7]:
z17_updated.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [8]:
len(z17_updated)

46

In [9]:
len(zoo[2017])

49

In [10]:
zoo[2017] = z17_updated

## 2018

In [25]:
len(zoo[2018])

47

In [60]:
zoo[2018][46]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,KNOCHENFISCHE,OSTEICHTHYES\nArtenzahl\n2017\ngeboren\nZugäng...,,,,,,,,,...,,,,,,,,,,
1,,,,m,w,u,m,w,u,m,...,u,m,w,u,m,w,u,m,w,u
2,Flösselhechtartige,Polypteriformes,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,Störartige,Acipenseriformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Knochenhechtartige,Lepisosteiformes,3,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
5,Tarpunartige,Elopiformes,1,0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
6,Aalartige,Anguilliformes,6,0,0,52,0,0,0,0,...,9,0,0,50,0,0,0,0,0,11
7,Knochenzünglerartige,Osteoglossiformes,4,0,0,38,0,0,0,0,...,0,0,0,14,0,0,0,0,0,24
8,Hechtartige,Esociformes,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,Schildfischartige,Gobiesociformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Salmlerartige,Characiformes,40,0,0,1025,0,0,0,0,...,340,0,0,407,0,0,0,0,0,958
11,Karpfenfischartige,Cypriniformes,27,0,0,709,0,0,0,0,...,422,0,0,531,0,0,77,0,0,523
12,Neuwelt-Messerfische,Gymnotiformes,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,Welse,Siluriformes,71,0,0,646,0,0,20,0,...,8,0,0,222,0,0,10,0,0,442
14,Froschfische,Batrachoidiformes,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

## 2019

In [61]:
len(zoo[2019])

43

In [ ]:
0, 5,

In [82]:
zoo[2019][20]

,0,1,2,3,4,5,6,7
0,,"16.703.583,61","2.447.455,29","146.681,92","19.004.356,98","51.559.844,31","46.713.663,41",
1,III. Finanzanlagen\n1. Ausleihungen an ver- \...,"0,00\n0,00\n0,00","0,00\n0,00\n0,00","0,00\n0,00\n0,00","0,00\n0,00\n0,00","1.755.608,92\n15.227.695,76\n1.120,00","1.755.608,92\n11.449.068,19\n1.120,00",