# Imports and data

In [97]:
%run Imports.ipynb

In [98]:
Berlin_dict = tables_dict['Berlin']
Berlin_meta = meta_dict['Berlin']

# Overview

In [99]:
zoo = Berlin_dict['ZooAquarium']
tg = Berlin_dict['Tiergarten']

In [100]:
print(zoo.keys())

dict_keys([2017, 2018, 2019, 2020, 2021])

# Zoo

In [101]:
zoo.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [102]:
def clean_zoo(zoo: dict, year: int, del_list: list) -> dict:
    z_clean = {}
    for i in range(len(zoo[year])):
        if i not in del_list:
            z_clean[i] = zoo[year][i]

    updated = {}
    for i in range(len(z_clean)):
        index = list(z_clean.keys())[i]
        updated[i] = z_clean[index]
    zoo[year] = updated
    return zoo

## 2017

In [103]:
dl_17 = [0, 1, 6]

In [104]:
zoo = clean_zoo(zoo, 2017, dl_17)

## 2018

In [105]:
len(zoo[2018])

47

In [106]:
zoo[2018][46]

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,KNOCHENFISCHE,OSTEICHTHYES\nArtenzahl\n2017\ngeboren\nZugäng...,,,,,,,,,...,,,,,,,,,,
1,,,,m,w,u,m,w,u,m,...,u,m,w,u,m,w,u,m,w,u
2,Flösselhechtartige,Polypteriformes,2,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
3,Störartige,Acipenseriformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Knochenhechtartige,Lepisosteiformes,3,0,0,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,11
5,Tarpunartige,Elopiformes,1,0,0,9,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
6,Aalartige,Anguilliformes,6,0,0,52,0,0,0,0,...,9,0,0,50,0,0,0,0,0,11
7,Knochenzünglerartige,Osteoglossiformes,4,0,0,38,0,0,0,0,...,0,0,0,14,0,0,0,0,0,24
8,Hechtartige,Esociformes,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
9,Schildfischartige,Gobiesociformes,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Salmlerartige,Characiformes,40,0,0,1025,0,0,0,0,...,340,0,0,407,0,0,0,0,0,958
11,Karpfenfischartige,Cypriniformes,27,0,0,709,0,0,0,0,...,422,0,0,531,0,0,77,0,0,523
12,Neuwelt-Messerfische,Gymnotiformes,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
13,Welse,Siluriformes,71,0,0,646,0,0,20,0,...,8,0,0,222,0,0,10,0,0,442
14,Froschfische,Batrachoidiformes,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

## 2019

In [107]:
len(zoo[2019])

43

In [108]:
z19_del = [0, 5]

In [109]:
zoo = clean_zoo(zoo, 2019, z19_del)

## 2020

In [110]:
zoo[2020].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36])

In [111]:
del20 = [0, 5]

In [112]:
zoo = clean_zoo(zoo, 2020, del20)

## 2021

In [113]:
zoo[2021].keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39])

In [156]:
del21 = [4]

In [157]:
zoo = clean_zoo(zoo, 2021, del21)

In [158]:
tables_dict['Berlin']['ZooAquarium'] = zoo
save_dict_pkl(tables_dict, tables_path)

# Tiergarten

In [159]:
tg.keys()

dict_keys([2017, 2018, 2019, 2020, 2021])

In [ ]:
del17 = [3, 4, 5, 6]
del18 = [0, 1, 2, 3,6,7]
del19 = []
del20 = []
del21 = []

In [195]:
len(tg[2018])

60

In [272]:
tg[2018][23]

,0,1,2,3,4,5,6,7
0,,"78.941,41","19.290,08","-6.379,00","0,00","91.852,49","73.381,00","44.821,00"
1,II. Sachanlagen\n1. Grundstücke und Bauten \n...,"1.577.693,13\n403.469,34\n2.047.160,93\n0,00","166.178,27\n25.802,31\n203.199,13\n0,00","0,00\n-24.062,65\n-51.076,83\n0,00","0,00\n0,00\n0,00\n0,00","1.743.871,40\n405.209,00\n2.199.283,23\n0,00","2.732.485,00\n129.984,00\n959.660,00\n6.611.50...","2.535.542,00\n123.318,00\n838.222,05\n2.102.13..."