# Imports

In [19]:
import numpy as np
import pandas as pd

In [20]:
from tabula import read_pdf

In [21]:
import sys
import os
sys.path.append(os.path.abspath('../../Python_Code'))
from CleaningData import Berlin
from CleaningData import Pdf2Json
data_path = '../../Data'
B = Berlin('Berlin', 2017, 2023, data_path)

In [22]:
EK = Berlin.eintrittskarten

In [23]:
B.save_path

'../../Data/Berlin'

# Functions

# Data Import

In [24]:
test = '../../Data/Berlin/2017/'
dfs17 = [pd.read_json(test + file) for file in os.listdir(test)]

In [25]:
dfs17[0]

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690.974,653.801,6 %
1,None,160.409,163.532,None
2,Kinder,107.606,101.820,6 %
3,None,262.132,211.813,None
4,Andere Eintrittsgelder,17.662,23.932,-26 %
5,Summe Tagestickets Zoo,1.238.783,1.154.898,7 %

# Eintrittskarten

### Eintrittskarten Zoo

In [32]:
dfs17[1]

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690.974,653.801,6 %
1,None,160.409,163.532,None
2,Kinder,107.606,101.820,6 %
3,None,262.132,211.813,None
4,Andere Eintrittsgelder,17.662,23.932,-26 %
5,Summe Tagestickets Zoo,1.238.783,1.154.898,7 %

In [33]:
dfs17[1]['Tagestickets Zoo'] = ['Erwachsene', 'Ermaesigte', 'Kinder', 'Familien', 'Andere Eintrittsgelder',
                                    'Summe Tagestickets Zoo']
dfs17[1]

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690.974,653.801,6 %
1,Ermaesigte,160.409,163.532,None
2,Kinder,107.606,101.820,6 %
3,Familien,262.132,211.813,None
4,Andere Eintrittsgelder,17.662,23.932,-26 %
5,Summe Tagestickets Zoo,1.238.783,1.154.898,7 %

In [38]:
Tagestickets_Zoo = dfs17[1]
str2float = Berlin.str2float
# Tagestickets_Zoo = str2float(Tagestickets_Zoo, 'Eintrittskarten 2017')
# Tagestickets_Zoo = dfs17(Tagestickets_Zoo, 'Eintrittskarten 2016')

Tagestickets_Zoo

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690974.0,653.801,6 %
1,Ermaesigte,160409.0,163.532,None
2,Kinder,107606.0,101.820,6 %
3,Familien,262132.0,211.813,None
4,Andere Eintrittsgelder,17662.0,23.932,-26 %
5,Summe Tagestickets Zoo,1238783.0,1.154.898,7 %

In [39]:
percentage2float = Berlin.percentage2float
Tagestickets_Zoo = percentage2float(Tagestickets_Zoo, '+/- Vorjahr in %')
Tagestickets_Zoo

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690974.0,653.801,6.0
1,Ermaesigte,160409.0,163.532,NaN
2,Kinder,107606.0,101.820,6.0
3,Familien,262132.0,211.813,NaN
4,Andere Eintrittsgelder,17662.0,23.932,-26.0
5,Summe Tagestickets Zoo,1238783.0,1.154.898,7.0

In [40]:
Tagestickets_Zoo.iloc[1, 3] = -2.0
Tagestickets_Zoo.iloc[3, 3] = 24.0

In [41]:
year = np.ones(len(Tagestickets_Zoo)) * 2017
pastyear = np.ones(len(Tagestickets_Zoo)) * 2016
Tagestickets_Zoo['Jahr'] = year
Tagestickets_Zoo['Vorjahr'] = pastyear

In [42]:
year.astype(int)

array([2017, 2017, 2017, 2017, 2017, 2017])

In [43]:
Tagestickets_Zoo['Jahr'] = Tagestickets_Zoo['Jahr'].astype(int)
Tagestickets_Zoo['Vorjahr'] = Tagestickets_Zoo['Vorjahr'].astype(int)

In [44]:
Tagestickets_Zoo = Tagestickets_Zoo[['Tagestickets Zoo', 'Jahr', 'Eintrittskarten 2017',
                                    'Vorjahr', 'Eintrittskarten 2016', '+/- Vorjahr in %']]
Tagestickets_Zoo = Tagestickets_Zoo.rename(columns={'Eintrittskarten 2017': 'Eintrittskarten',
                                                    'Eintrittskarten 2016': 'Vorjahres Eintrittskarten'})

In [45]:
Tagestickets_Zoo

,Tagestickets Zoo,Jahr,Eintrittskarten,Vorjahr,Vorjahres Eintrittskarten,+/- Vorjahr in %
0,Erwachsene,2017,690974.0,2016,653.801,6.0
1,Ermaesigte,2017,160409.0,2016,163.532,-2.0
2,Kinder,2017,107606.0,2016,101.820,6.0
3,Familien,2017,262132.0,2016,211.813,24.0
4,Andere Eintrittsgelder,2017,17662.0,2016,23.932,-26.0
5,Summe Tagestickets Zoo,2017,1238783.0,2016,1.154.898,7.0

In [ ]:
# Tagestickets_Zoo.to_json('../../Data/Berlin/Tagestickets_Zoo.json', index=False)

### Tagestickets ZooAquarium

In [26]:
for i in range(len(dfs17)):
    if 'Eintrittskarten 2017' in dfs17[i].columns:
        print(i)
        # print(dfs17[i])

0
1
2
3
63

In [27]:
dfs17[1]

,Tagestickets Zoo-Aquarium,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,341.391,346.618,-2 %
1,None,76.488,81.421,None
2,Kinder,51.549,56.018,-8 %
3,None,157.733,127.812,None
4,Andere Eintrittsgelder,1.401,3.822,-63 %
5,Summe Tagestickets Zoo-Aquarium,628.562,615.691,2 %
6,SUMME TAGESTICKETS TOTAL,1.867.345,1.770.589,5 %

In [28]:
Tagestickets_ZooAquarium = dfs17[1]
cols = list(Tagestickets_ZooAquarium.columns)
Tagestickets_ZooAquarium = B.eintrittskarten(df=Tagestickets_ZooAquarium, list_cols=cols, year=2017, past_year=2016)
Tagestickets_ZooAquarium

,Tagestickets Zoo-Aquarium,Jahr,Eintrittskarten,Vorjahr,Eintrittskarten_Vorjahr,+/- Vorjahr in %
0,Erwachsene,2017,341391.0,2016,346618.0,-2.0
1,None,2017,76488.0,2016,81421.0,NaN
2,Kinder,2017,51549.0,2016,56018.0,-8.0
3,None,2017,157733.0,2016,127812.0,NaN
4,Andere Eintrittsgelder,2017,1401.0,2016,3822.0,-63.0
5,Summe Tagestickets Zoo-Aquarium,2017,628562.0,2016,615691.0,2.0
6,SUMME TAGESTICKETS TOTAL,2017,1867345.0,2016,1770589.0,5.0

In [29]:
Tagestickets_ZooAquarium.iloc[1, 0] = 'Ermäßigte'
Tagestickets_ZooAquarium.iloc[3, 0] = 'Familien'
Tagestickets_ZooAquarium

,Tagestickets Zoo-Aquarium,Jahr,Eintrittskarten,Vorjahr,Eintrittskarten_Vorjahr,+/- Vorjahr in %
0,Erwachsene,2017,341391.0,2016,346618.0,-2.0
1,Ermäßigte,2017,76488.0,2016,81421.0,NaN
2,Kinder,2017,51549.0,2016,56018.0,-8.0
3,Familien,2017,157733.0,2016,127812.0,NaN
4,Andere Eintrittsgelder,2017,1401.0,2016,3822.0,-63.0
5,Summe Tagestickets Zoo-Aquarium,2017,628562.0,2016,615691.0,2.0
6,SUMME TAGESTICKETS TOTAL,2017,1867345.0,2016,1770589.0,5.0

In [30]:
# sp_tkza = '../../Data/Berlin/Tagestickets_Zoo_Aquarium.json'
# Tagestickets_ZooAquarium.to_json(sp_tkza, index=False)

## ZooCard Zoo

In [31]:
dfs17[2]

,ZooCard Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,12.535,9.945,26 %
1,None,3.394,3.145,None
2,Kinder,411.000,424.000,-3 %
3,None,19.193,14.473,None
4,BabyCard (bis 31.01.2016),0.000,438.000,-100 %
5,None,4.616,3.151,None
6,Summe ZooCards Zoo,40.149,31.576,27 %

## ZooCard Zoo Aquarium

In [32]:
dfs17[3]

,ZooCard Zoo-Aquarium,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,3.538,2.537,39 %
1,None,1.128,963,None
2,Kinder,176,200,-12 %
3,None,7.839,5.531,None
4,BabyCard (bis 31.01.2016),0,197,-100 %
5,None,4.616,3.151,None
6,Summe ZooCards Zoo-Aquarium,17.297,12.579,38 %
7,SUMME ZOOCARDS TOTAL,57.446,44.155,30 %
8,Sonstige Tickets Zoo*,141.070,129.070,9 %
9,None,62.115,57.233,None
10,Summe Tickets Zoo,1.420.002,1.315.544,8 %
11,None,707.974,685.503,None
12,EINTRITTSKARTEN GESAMT,2.127.976,2.001.047,6 %
13,Ermittelte Gesamt-Besucher**,3.484.412,3.227.594,8 %

## Tagestickets Tierpark

In [33]:
dfs17[63]

,Tagestickets Tierpark,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,301.643,317.524,-5 %
1,None,61.706,70.323,None
2,Kinder,67.319,67.483,0 %
3,None,84.996,83.173,None
4,Andere Eintrittsgelder,3.377,4.101,-18 %
5,Summe Tagestickets,519.041,542.604,-4 %