# Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
import sys
import os
sys.path.append(os.path.abspath('../../'))
from Python_Code.CleaningData import CleaningData

# Functions

In [3]:
CD = CleaningData(place='Berlin', year=2017)

# Data Import

## Using cleaningdata class

In [4]:
CD.read_all_csv_files()

In [5]:
CD.activa.head()

                                              AKTIVA        2017        2016
0                                  A. Anlagevermögen      in EUR      in EUR
1  Immaterielle Vermögensgegenstände, gewerbliche...    116202.0     87586.0
2                             Grundstücke und Bauten  36442462.0  27245124.0
3                   Technische Anlagen und Maschinen   1888071.0   2060958.0
4  Andere Anlagen, Betriebs- und Geschäftsausstat...   1712442.0   1544325.0

In [6]:
CD.passiva.head()

                      Passiva       2017       2016
0             A. Eigenkapital     in EUR     in EUR
1                Grundkapital  1716000.0  1716000.0
2  Nennbetrag eigener Anteile     -832.0     -676.0
3  Summe Gezeichnetes Kapital  1715168.0  1715324.0
4             Kapitalrücklage   62659.07   62659.07

In [7]:
CD.passiva.dtypes

Passiva    object
2017       object
2016       object
dtype: object

In [8]:
passiva_list_cols = list(CD.passiva.columns)
passiva_list_cols[1] = f'{passiva_list_cols[1]} in EUR'
passiva_list_cols[2] = f'{passiva_list_cols[2]} in EUR'

In [11]:
act_list_cols = list(CD.activa.columns)
act_list_cols[1] = f'{act_list_cols[1]} in EUR'
act_list_cols[2] = f'{act_list_cols[2]} in EUR'

In [12]:
CD.passiva.columns = passiva_list_cols
CD.activa.columns = act_list_cols
CD.passiva.head()

                      Passiva 2017 in EUR 2016 in EUR
0             A. Eigenkapital      in EUR      in EUR
1                Grundkapital   1716000.0   1716000.0
2  Nennbetrag eigener Anteile      -832.0      -676.0
3  Summe Gezeichnetes Kapital   1715168.0   1715324.0
4             Kapitalrücklage    62659.07    62659.07

In [13]:
CD.cleaning_act_pass()

c:\Users\benjf\Documents\Programmierung\Projekte\VdZ_aDataScienceProject\Python_Code\CleaningData.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.activa[self.activa.columns[i]] = self.activa[self.activa.columns[i]].astype(float)
c:\Users\benjf\Documents\Programmierung\Projekte\VdZ_aDataScienceProject\Python_Code\CleaningData.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.activa[self.passiva.columns[i]] = self.activa[self.passiva.columns[i]].astype(float)
c:\Users\benjf\Documents\Programmierung\Projekte\VdZ_aDataScienceProject\Python_Code\CleaningData.py:93: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.activa[self.activa.columns[i]] = self.activa[self.activa.columns[i]].astype(float)
c:\Users\benjf\Documents\Programmierung\Projekte\VdZ_aDataScienceProject\Python_Code\CleaningData.py:94: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.activa[self.passiva.columns[i]] = self.activa[self.passiva.columns[i]].astype(float)

In [14]:
CD.passiva.iloc[2, 1]

'-832.0'

## Testing

Creating data cleaning class to make the cleaning process faster

In [ ]:
B17_besucher = pd.read_csv(
    filepath_or_buffer='../../Data/Berlin/2017/cn_zoo.csv',
    delim_whitespace=True, encoding='utf-8'
)

C:\Users\benjf\AppData\Local\Temp\ipykernel_9408\2046554483.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  B17_besucher = pd.read_csv(

In [ ]:
B17_besucher.columns

Index(['Tagestickets', 'Zoo', 'Eintrittskarten', '2017', 'Eintrittskarten.1',
       '2016', '+/-', 'Vorjahr', 'in', '%'],
      dtype='object')

In [ ]:
B17_besucher.head()

,Tagestickets,Zoo,Eintrittskarten,2017,Eintrittskarten.1,2016,+/-,Vorjahr,in,%
0,Erwachsene,690.974,653.801,6,%,NaN,NaN,NaN,NaN,NaN
1,Ermäßigte,160.409,163.532,-2,%,NaN,NaN,NaN,NaN,NaN
2,Kinder,107.606,101.820,6,%,NaN,NaN,NaN,NaN,NaN
3,Familien,262.132,211.813,24,%,NaN,NaN,NaN,NaN,NaN
4,Andere,Eintrittsgelder,17.662,23.932,-26,%,NaN,NaN,NaN,NaN