# Imports

In [16]:
import numpy as np
import pandas as pd

In [17]:
from tabula import read_pdf

In [47]:
import sys
import os
sys.path.append(os.path.abspath('../../Python_Code'))
from CleaningData import Berlin
from CleaningData import Pdf2Json
data_path = '../../Data'
B = Berlin('Berlin', 2017, 2023, data_path)

In [19]:
EK = Berlin.eintrittskarten

In [97]:
B.save_path

'../../Data/Berlin'

# Functions

# Data Import

In [ ]:
test = '../../Data/Berlin/2017/'
dfs17 = [pd.read_json(test + file) for file in os.listdir(test)]

In [96]:
lst = list(os.listdir(test))
print(lst)
for i in range(len(lst)):
    if i < 10:
        lst[i] = f'table_00{i}.json'
    elif i >= 10 and i < 100:
        lst[i] = f'table_0{i}.json'
    else:
        continue

['table_1.json', 'table_10.json', 'table_100.json', 'table_101.json', 'table_102.json', 'table_103.json', 'table_104.json', 'table_105.json', 'table_106.json', 'table_107.json', 'table_108.json', 'table_109.json', 'table_110.json', 'table_111.json', 'table_112.json', 'table_113.json', 'table_114.json', 'table_115.json', 'table_116.json', 'table_117.json', 'table_118.json', 'table_119.json', 'table_12.json', 'table_120.json', 'table_121.json', 'table_122.json', 'table_123.json', 'table_124.json', 'table_125.json', 'table_126.json', 'table_127.json', 'table_128.json', 'table_129.json', 'table_13.json', 'table_130.json', 'table_131.json', 'table_132.json', 'table_133.json', 'table_134.json', 'table_135.json', 'table_136.json', 'table_14.json', 'table_15.json', 'table_16.json', 'table_17.json', 'table_18.json', 'table_19.json', 'table_2.json', 'table_20.json', 'table_22.json', 'table_24.json', 'table_25.json', 'table_26.json', 'table_27.json', 'table_28.json', 'table_29.json', 'table_3.json', 'table_30.json', 'table_31.json', 'table_32.json', 'table_33.json', 'table_34.json', 'table_35.json', 'table_36.json', 'table_37.json', 'table_38.json', 'table_39.json', 'table_4.json', 'table_40.json', 'table_41.json', 'table_42.json', 'table_43.json', 'table_44.json', 'table_45.json', 'table_46.json', 'table_47.json', 'table_48.json', 'table_49.json', 'table_50.json', 'table_51.json', 'table_52.json', 'table_53.json', 'table_54.json', 'table_55.json', 'table_56.json', 'table_57.json', 'table_58.json', 'table_59.json', 'table_60.json', 'table_61.json', 'table_62.json', 'table_63.json', 'table_64.json', 'table_65.json', 'table_66.json', 'table_67.json', 'table_68.json', 'table_69.json', 'table_7.json', 'table_70.json', 'table_71.json', 'table_72.json', 'table_73.json', 'table_74.json', 'table_75.json', 'table_76.json', 'table_77.json', 'table_78.json', 'table_79.json', 'table_8.json', 'table_80.json', 'table_81.json', 'table_82.json', 'table_83.json', 'table_84.json', 'table_85.json', 'table_86.json', 'table_87.json', 'table_88.json', 'table_89.json', 'table_9.json', 'table_90.json', 'table_91.json', 'table_92.json', 'table_93.json', 'table_94.json', 'table_95.json', 'table_96.json', 'table_97.json', 'table_98.json', 'table_99.json']

In [95]:
lst

['table_000.json',
 'table_001.json',
 'table_002.json',
 'table_003.json',
 'table_004.json',
 'table_005.json',
 'table_006.json',
 'table_007.json',
 'table_008.json',
 'table_009.json',
 'table_010.json',
 'table_011.json',
 'table_012.json',
 'table_013.json',
 'table_014.json',
 'table_015.json',
 'table_016.json',
 'table_017.json',
 'table_018.json',
 'table_019.json',
 'table_020.json',
 'table_021.json',
 'table_022.json',
 'table_023.json',
 'table_024.json',
 'table_025.json',
 'table_026.json',
 'table_027.json',
 'table_028.json',
 'table_029.json',
 'table_030.json',
 'table_031.json',
 'table_032.json',
 'table_033.json',
 'table_034.json',
 'table_035.json',
 'table_036.json',
 'table_037.json',
 'table_038.json',
 'table_039.json',
 'table_040.json',
 'table_041.json',
 'table_042.json',
 'table_043.json',
 'table_044.json',
 'table_045.json',
 'table_046.json',
 'table_047.json',
 'table_048.json',
 'table_049.json',
 'table_050.json',
 'table_051.json',
 'table_052.json',
 'table_053.json',
 'table_054.json',
 'table_055.json',
 'table_056.json',
 'table_057.json',
 'table_058.json',
 'table_059.json',
 'table_060.json',
 'table_061.json',
 'table_062.json',
 'table_063.json',
 'table_064.json',
 'table_065.json',
 'table_066.json',
 'table_067.json',
 'table_068.json',
 'table_069.json',
 'table_070.json',
 'table_071.json',
 'table_072.json',
 'table_073.json',
 'table_074.json',
 'table_075.json',
 'table_076.json',
 'table_077.json',
 'table_078.json',
 'table_079.json',
 'table_080.json',
 'table_081.json',
 'table_082.json',
 'table_083.json',
 'table_084.json',
 'table_085.json',
 'table_086.json',
 'table_087.json',
 'table_088.json',
 'table_089.json',
 'table_090.json',
 'table_091.json',
 'table_092.json',
 'table_093.json',
 'table_094.json',
 'table_095.json',
 'table_096.json',
 'table_097.json',
 'table_098.json',
 'table_099.json',
 'table_71.json',
 'table_72.json',
 'table_73.json',
 'table_74.json',
 'table_75.json',
 'table_76.json',
 'table_77.json',
 'table_78.json',
 'table_79.json',
 'table_8.json',
 'table_80.json',
 'table_81.json',
 'table_82.json',
 'table_83.json',
 'table_84.json',
 'table_85.json',
 'table_86.json',
 'table_87.json',
 'table_88.json',
 'table_89.json',
 'table_9.json',
 'table_90.json',
 'table_91.json',
 'table_92.json',
 'table_93.json',
 'table_94.json',
 'table_95.json',
 'table_96.json',
 'table_97.json',
 'table_98.json',
 'table_99.json']

# Eintrittskarten

### Eintrittskarten Zoo

In [32]:
dfs17[1]

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690.974,653.801,6 %
1,None,160.409,163.532,None
2,Kinder,107.606,101.820,6 %
3,None,262.132,211.813,None
4,Andere Eintrittsgelder,17.662,23.932,-26 %
5,Summe Tagestickets Zoo,1.238.783,1.154.898,7 %

In [33]:
dfs17[1]['Tagestickets Zoo'] = ['Erwachsene', 'Ermaesigte', 'Kinder', 'Familien', 'Andere Eintrittsgelder',
                                    'Summe Tagestickets Zoo']
dfs17[1]

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690.974,653.801,6 %
1,Ermaesigte,160.409,163.532,None
2,Kinder,107.606,101.820,6 %
3,Familien,262.132,211.813,None
4,Andere Eintrittsgelder,17.662,23.932,-26 %
5,Summe Tagestickets Zoo,1.238.783,1.154.898,7 %

In [38]:
Tagestickets_Zoo = dfs17[1]
str2float = Berlin.str2float
# Tagestickets_Zoo = str2float(Tagestickets_Zoo, 'Eintrittskarten 2017')
# Tagestickets_Zoo = dfs17(Tagestickets_Zoo, 'Eintrittskarten 2016')

Tagestickets_Zoo

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690974.0,653.801,6 %
1,Ermaesigte,160409.0,163.532,None
2,Kinder,107606.0,101.820,6 %
3,Familien,262132.0,211.813,None
4,Andere Eintrittsgelder,17662.0,23.932,-26 %
5,Summe Tagestickets Zoo,1238783.0,1.154.898,7 %

In [39]:
percentage2float = Berlin.percentage2float
Tagestickets_Zoo = percentage2float(Tagestickets_Zoo, '+/- Vorjahr in %')
Tagestickets_Zoo

,Tagestickets Zoo,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,690974.0,653.801,6.0
1,Ermaesigte,160409.0,163.532,NaN
2,Kinder,107606.0,101.820,6.0
3,Familien,262132.0,211.813,NaN
4,Andere Eintrittsgelder,17662.0,23.932,-26.0
5,Summe Tagestickets Zoo,1238783.0,1.154.898,7.0

In [40]:
Tagestickets_Zoo.iloc[1, 3] = -2.0
Tagestickets_Zoo.iloc[3, 3] = 24.0

In [41]:
year = np.ones(len(Tagestickets_Zoo)) * 2017
pastyear = np.ones(len(Tagestickets_Zoo)) * 2016
Tagestickets_Zoo['Jahr'] = year
Tagestickets_Zoo['Vorjahr'] = pastyear

In [42]:
year.astype(int)

array([2017, 2017, 2017, 2017, 2017, 2017])

In [43]:
Tagestickets_Zoo['Jahr'] = Tagestickets_Zoo['Jahr'].astype(int)
Tagestickets_Zoo['Vorjahr'] = Tagestickets_Zoo['Vorjahr'].astype(int)

In [44]:
Tagestickets_Zoo = Tagestickets_Zoo[['Tagestickets Zoo', 'Jahr', 'Eintrittskarten 2017',
                                    'Vorjahr', 'Eintrittskarten 2016', '+/- Vorjahr in %']]
Tagestickets_Zoo = Tagestickets_Zoo.rename(columns={'Eintrittskarten 2017': 'Eintrittskarten',
                                                    'Eintrittskarten 2016': 'Vorjahres Eintrittskarten'})

In [45]:
Tagestickets_Zoo

,Tagestickets Zoo,Jahr,Eintrittskarten,Vorjahr,Vorjahres Eintrittskarten,+/- Vorjahr in %
0,Erwachsene,2017,690974.0,2016,653.801,6.0
1,Ermaesigte,2017,160409.0,2016,163.532,-2.0
2,Kinder,2017,107606.0,2016,101.820,6.0
3,Familien,2017,262132.0,2016,211.813,24.0
4,Andere Eintrittsgelder,2017,17662.0,2016,23.932,-26.0
5,Summe Tagestickets Zoo,2017,1238783.0,2016,1.154.898,7.0

In [ ]:
# Tagestickets_Zoo.to_json('../../Data/Berlin/Tagestickets_Zoo.json', index=False)

### Tagestickets ZooAquarium

In [78]:
for i in range(len(dfs17)):
    if 'Eintrittskarten 2017' in dfs17[i].columns:
        print(i)
        # print(dfs17[i])

0
47
56
67
97

In [79]:
dfs17[47]

,Tagestickets Zoo-Aquarium,Eintrittskarten 2017,Eintrittskarten 2016,+/- Vorjahr in %
0,Erwachsene,341.391,346.618,-2 %
1,None,76.488,81.421,None
2,Kinder,51.549,56.018,-8 %
3,None,157.733,127.812,None
4,Andere Eintrittsgelder,1.401,3.822,-63 %
5,Summe Tagestickets Zoo-Aquarium,628.562,615.691,2 %
6,SUMME TAGESTICKETS TOTAL,1.867.345,1.770.589,5 %

In [48]:
Tagestickets_ZooAquarium = dfs17[2]
cols = list(Tagestickets_ZooAquarium.columns)
Tagestickets_ZooAquarium = B.eintrittskarten(df=Tagestickets_ZooAquarium, list_cols=cols, year=2017, past_year=2016)
Tagestickets_ZooAquarium

KeyError: "['Eintrittskarten', 'Eintrittskarten_Vorjahr', '+/- Vorjahr in %'] not in index"