# Imports

In [1]:
import numpy as np
import pandas as pd

In [2]:
from tabula import read_pdf

In [3]:
# import os
# jave_home = 'C:/Program Files/Java/jre1.8.0_441'
# os.environ['JAVA_HOME'] = jave_home
# os.environ['PATH'] += os.environ['PATH'] + ':/Program Files/Java/jre1.8.0_441/bin'

# Functions

# Data Import

In [4]:
data_path = "../../../VdZ_Geschäftsberichte/Berlin/Geschaeftsbericht_AG_2017.pdf"
activa = read_pdf(data_path, pages="all")

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

In [14]:
d18 = "../../../VdZ_Geschäftsberichte/Berlin/Geschaeftsbericht_AG_2018.pdf"
dfs18 = read_pdf(d18, pages="all")

In [18]:
dfs18[15]

,D.,VERBINDLICHKEITEN,Unnamed: 0,Unnamed: 1
0,NaN,NaN,NaN,NaN
1,1.Erhaltene Anzahlungen auf Bestellungen\r- da...,"98.815,10","89.187,50",NaN
2,2.Verbindlichkeiten aus Lieferungen und Leistu...,"2.296.312,66","1.867.572,03",NaN
3,3.Sonstige Verbindlichkeiten:\r- davon aus Ste...,"542.912,57","979.946,76",NaN
4,Summe Verbindlichkeiten,"2.938.040,33","2.936.706,29",NaN

In [8]:
dfs_list = activa

In [13]:
dfs_list[13]

,C.,VERBINDLICHKEITEN,Unnamed: 0,Unnamed: 1
0,1.Erhaltene Anzahlungen auf Bestellungen\r- da...,"89.187,50","88.217,00",NaN
1,2.Verbindlichkeiten aus Lieferungen und Leistu...,"1.867.572,03","1.466.533,15",NaN
2,3.Sonstige Verbindlichkeiten:\r- davon aus Ste...,"979.946,76","850.820,03",NaN
3,Summe Verbindlichkeiten,"2.936.706,29","2.405.570,18",NaN