# Imports

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Data

In [10]:
data_path = '../Data/MembersOfVdZ.csv'
df = pd.read_csv(data_path)
# df = df.dr#opna()
df.head()

,ID,Zoo Name,Country,State,City,Company Form
0,1,Zoo Heidelberg,DE,BW,Heidelberg,gGmbH
1,2,Zoologischer Stadtgarten Karlsruhe,DE,BW,Karlsruhe,Stadt
2,3,Wilhelma,DE,BW,Stuttgart,BW
3,4,Tier-Freigelände des Nationalparks Bayerischer...,DE,BY,Altschönau,NaN
4,5,Zoologischer Garten Augsburg,DE,BY,Augsburg,GmbH

In [11]:
df_new = df.copy()
df_new = df_new[df['Company Form'] == 'AG']
df_new

    ID                         Zoo Name Country State     City Company Form
5    6              Tierpark Hellabrunn      DE    BY  München           AG
8    9  Tierpark Berlin-Friedrichsfelde      DE    BE   Berlin           AG
9   10                       Zoo Berlin      DE    BE   Berlin           AG
29  30                Aachener Tierpark      DE    NW   Aachen           AG
36  37                       Kölner Zoo      DE    NW     Köln           AG
65  66                       Walter Zoo      CH   NaN   Gossau           AG
67  68                       Zoo Zürich      CH   NaN   Zürich           AG